<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <title>
      MyCookbookTester
    </title>
  </head>
  <body>
		<style>
		.code {
			white-space:pre;
			font-family:monospace;
			border:1px solid #666;
			display:inline-block;
			padding:5px;
			min-width:400px;
			min-height:25px;
		}
		</style>
    <h1>MyCookbookTester</h1>
    <h2>Request</h2>
    <div>
      Type:
      <select id="template">
        <option value=""></option>
        <option value="launch">LaunchRequest</option>
        <option value="intent">IntentRequest</option>
        <option value="session_end">SessionEndedRequest</option>
      </select>
      <div id="intent">
        Intent:
        <select id="intent_select">
          <option value=""/>
        </select>
      </div>
      <div id="slots">
        Slot Values: <br>
        <div id="slotvalues" style="margin:5px;border:1px solid #ccc;display:inline-block;">
          <div>
            <input style="width:100px;"/>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div id="request" class="code"></div>
    </div>
    <div>
      <input type="button" value="Send Request">
    </div>

    <h2>Session</h2>
    <div>
      <div id="session" class="code"></div>
    </div>

    <h2>Response</h2>
    <div>
      <div id="response" class="code"></div>
    </div>

    <h2>Schema</h2>
    <div>
      <div id="schema" class="code"></div>
    </div>

    <h2>Utterances</h2>
    <div>
      <div id="utterances" class="code" style="max-height:500px;overflow:auto;"></div>
    </div>
    <div id="main">
    </div>
  </body>
</html>
